/* Asigură-te că dropdown-ul se întinde pe întreaga lățime a viewport-ului */
.art-drop-down-container {
    position: fixed; /* Utilizează fixed pentru a-l menține în poziția dorită pe ecran */
    top: 0; /* Plasează dropdown-ul imediat sub navbar */
    left: 0;
    width: 100vw; /* Lățimea completă a viewport-ului */
    background-color: var(--primary-color);
    z-index: 1000; /* Asigură-te că dropdown-ul este deasupra altor elemente */
    transform: translateY(-10px); /* Începe puțin mai sus pentru efectul de slide-in */
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s; /* Adaugă tranziții pentru o apariție lină */
    margin-top: 170px;
  }
  
  
  /* Asigură-te că frame-ul ocupă toată lățimea dropdown-ului */
  .art-drop-down-frame {
    width: 100%; /* Lățimea completă a dropdown-ului */
    height: auto;
  }
  
  /* Conținutul dropdown-ului */
  .art-drop-down-content {
    display: flex;
    flex-direction: column;
    padding: 0px 10%; /* Ajustează padding-ul lateral pentru mai mult spațiu */
    padding-top: 20px; /* Adaugă spațiu în partea de sus */
    padding-bottom: 20px; /* Adaugă spațiu în partea de jos */
  }
  
  .art-drop-down-content p {
    color: var(--text-color-white);
    font-family: 'Roboto';
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0; /* Elimină marginile pentru a avea un control mai bun */
    margin-bottom: 20px;
  }
  
  .art-drop-down-link-container {
    display: flex;
    flex-direction: row;
    gap: 15%;
    flex-wrap: wrap; /* Permite elementelor să treacă pe linie următoare dacă e necesar */
  }
  
  .art-drop-down-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .art-drop-down-link p {
    margin: 0; /* Elimină marginile pentru a muta textul mai sus */
    padding: 10px 0; /* Adaugă padding pentru spațiere între elemente */
    font-size: 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    cursor: pointer;
  }
  
  .art-drop-down-link p:hover {
    text-decoration: underline; /* Adaugă un efect de hover pentru elementele de link */
    color: var(--secondary-color);
  }