.art-drop-down-container {
  position: fixed;
  top: 160px;
  left: 0;
  width: 100%;
  background-color: var(--dark-grey-color);
  z-index: 2000;
  min-height: 300px;
  filter: none;
  overflow: hidden;
  margin: 0;
}
.art-drop-down-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* Fundalul trebuie să fie sub conținut */
  opacity: 0.4;
  filter: none;
  transition: opacity 0.7s ease-in-out;
}

.art-drop-down-background.current {
  opacity: 0.4; /* Fundalul curent */
}

.art-drop-down-background.next {
  opacity: 0; /* Fundalul următor */
}


  
  .art-drop-down-frame {
    width: 100%;
    height: 300px;
    z-index: 2;
  }
  
  .art-drop-down-content {
    display: flex;
    flex-direction: column;
    padding: 0px 10%; 
    padding-top: 20px; 
    padding-bottom: 20px; 
  }
  
  .art-drop-down-content p {
    color: var(--text-color-white);
    font-family: 'Roboto';
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0; 
    margin-bottom: 20px;
    z-index: 3;
  }
  
  .art-drop-down-link-container {
    display: flex;
    flex-direction: row;
    gap: 15%;
    flex-wrap: wrap; 
  }
  
  .art-drop-down-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .art-drop-down-link p {
    margin: 0; 
    padding: 10px 0; 
    font-size: 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  
  .art-drop-down-link p:hover {
    text-decoration: underline; 
    color: var(--secondary-color);
  }

