.button-reset-password{
    width: 252px;
    height: 45px;
    flex-shrink: 0;
    border-radius: var(--Corner-Small, 8px);
    background: #9B4242;
    color: #FFF;
    text-align: center;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-top: 60px;
}
.button-reset-password:hover{
    background-color: #d1aa29;
}