.account-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-account-frame {
    display: flex;
    justify-content: center;
    top: 1px;
    width: 100%;
    z-index: 10;
    position: relative;
    top: -50px;
}
.title-account{
    color: var(--text-color-black);
    text-align: center;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.button-account{
    width: 252px;
    height: 45px;
    flex-shrink: 0;
    border-radius: var(--Corner-Small, 8px);
    background: #9B4242;
    color: #FFF;
    text-align: center;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-top: 60px;
}
.button-account:hover{
    background-color: #d1aa29;
}