.parent-rectangle{
  display: flex;
  justify-content: center; /* Centrează pe orizontală */
  align-items: center; /* Centrează pe verticală */
  flex-wrap: wrap;
}
.rectangle-artist-description {
  width: 1200px;
  max-height: 400px;
  display: flex;
  flex-direction: row;
  gap: 2%; 
  align-items: center;
  justify-content: center;
  padding: 1%; /* Padding mai mic pentru mobile */
  background-color: var(--dark-background);
  overflow: auto;
}
  
  .text-container {
    flex: 1; 
  }
  
  .text-content {
    margin: 0; 
    text-align: left;
  }
  .avatar-container{
    padding: 2%;
  }

  @media (max-width: 901px){


    .rectangle-artist-description{
      flex-direction: row;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    .parent-rectangle{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .rectangle-artist-description{
      padding: 5%;
      width: 85%;
    }
    .avatar-container{
      padding-top: 50px;
    }

  }

  @media (max-width: 480px) {

    .rectangle-artist-description{
      width: 85%;
      padding: 5%;
    }
    .avatar-container{
      padding-top: 50px;
    }
    .parent-rectangle{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

 }

  