@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global styles */
:root {
  --background-color: rgb(250, 248, 244);
  --dark-background: rgb(240, 238, 234);
  --primary-color: #9B4242;
  --secondary-color: #d1aa29;
  --text-color-black: #090909;
  --text-color-white: #FFF;
  --dark-grey-color: #515050;
  --light-grey-color: #e6e6e6;
  --font-roboto: "Roboto", sans-serif;
  --font-abhaya: "Abhaya Libre", serif;
}

/* Define specific font classes */
.roboto-thin {
  font-family: var(--font-roboto);
  font-weight: 100;
}

.roboto-light {
  font-family: var(--font-roboto);
  font-weight: 300;
}

.roboto-regular {
  font-family: var(--font-roboto);
  font-weight: 400;
}

.roboto-medium {
  font-family: var(--font-roboto);
  font-weight: 500;
}

.roboto-bold {
  font-family: var(--font-roboto);
  font-weight: 700;
}

.roboto-black {
  font-family: var(--font-roboto);
  font-weight: 900;
}

.roboto-italic {
  font-style: italic;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  margin: 0 auto; /* Centrează dreptunghiul orizontal */
  position: absolute; /* Poziționează dreptunghiul în centru */
  top: 50%; /* Poziționează dreptunghiul în centrul vertical */
  left: 50%;
  display: grid;
  grid: 50%/50%;
  color: var(--primary-color);
  --_g: no-repeat linear-gradient(currentColor 0 0);
  background: var(--_g),var(--_g),var(--_g);
  background-size: 50.1% 50.1%;
  animation: 
    l6-0   1.5s infinite steps(1) alternate,
    l6-0-0 3s   infinite steps(1);
}
.loader::before {
  content: "";
  background: currentColor;
  transform: perspective(150px) rotateY(0deg) rotateX(0deg);
  transform-origin: bottom right; 
  animation: l6-1 1.5s infinite linear alternate;
}
@keyframes l6-0 {
  0%  {background-position: 0    100%,100% 100%,100% 0}
  33% {background-position: 100% 100%,100% 100%,100% 0}
  66% {background-position: 100% 0   ,100% 0   ,100% 0}
}
@keyframes l6-0-0 {
  0%  {transform: scaleX(1)  rotate(0deg)}
  50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l6-1 {
  16.5%{transform:perspective(150px) rotateX(-90deg)  rotateY(0deg)    rotateX(0deg);filter:grayscale(0.8)}
  33%  {transform:perspective(150px) rotateX(-180deg) rotateY(0deg)    rotateX(0deg)}
  66%  {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(0deg)}
  100% {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(-180deg);filter:grayscale(0.8)}
}
