@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Allura&display=swap');

/* Global styles */
body {
    font-family: 'Abhaya Libre', serif;
}

:root{
    --background-color: #FFF6E3;
    --primary-color: #9B4242;
    --secondary-color: #d1aa29;
    --text-color-black: #090909;
    --text-color-white: #FFF;

}
